@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #0bcac1;
    --branco: #0ca8a8;
    --laranja: #fbffff;
    --azul-degrade: linear-gradient(97.54deg, #08f3e7 35.49%, #0ba79a 165.37%);
    --fonte-principal: "Poppins";
    --azul: #08cfbf;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}